/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap'); */

body {
    background-color: rgb(34, 33, 40);
    margin: 0;
    height: 100vh;
}

img{
    width: 300px;
    height: 200px;
}


.container{
    
    width: 80%;
    border: 1px solid black;
    margin-left: auto;
    margin-right:auto;
    background-color: black;
}
.row{
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    display:flex;
    /* height:100px; */
    justify-content:space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    


}
    

.card{
    height:550px;
    width: 300px;
    /* border: 1px solid black; */
    /* background-color: #0093E9; */
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    display:flex;
    gap:20px;
    padding:10px
    
    
    
}
/* .card-image{
    width:1%;
    height: 1;
    display: block;
    margin: 0 auto;
} */


.card-body{
    width:40%;
    float:right;
    flex:2;
    background-color: white;
    
}
.card-name{
    /* color: rgb(158, 158, 15); */
    font-size: large;
    font-weight: bolder;
    padding: 10px;
    border-bottom: 1px solid rgb(203, 188, 188);

}

.card-spec{
    background-color: white;
    padding: 10px;
    line-height: 25px;
    
}

.card-footer{
    padding: 1px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.btn{
    padding: 5px;
    width: 1000px;
    height: 50px;
    /* border-radius: 5px; */
}

.btn-grey{
    background-color: grey;
    color: white;
}

.btn-warning{
    background-color: rgb(240, 240, 67);
    color: white;
}

.btn-danger{
    background-color: red;
    color: white;
}


.card-name1{
    background-color: grey;
    color: white;
}

label{
    text-align: center;
    font-weight: bolder;
}

.card-name2{
    background-color: red;
    color: white;
}

.text-intro{
    font-size: x-large;
    margin-left: 100px;
    color: white;
}

.text-intro2{
    margin-left: 80px;
    color: white;
}


.card-rate{
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}


li{
    list-style: none;
}

.icon-danger{
    color: red;
}